importFrom(MASS, ginv)

importFrom(stats, optim, optimize, constrOptim, pnorm)

importFrom(pracma, randortho)

importFrom(Matrix, bandSparse)

importFrom(mvtnorm, rmvnorm)

importFrom("methods", "is", "new")

importFrom(Rcpp, evalCpp)

useDynLib(porridge, .registration=TRUE)

exportPattern("^[[:alpha:]]+")
